<div style="margin: 50px;">
<h3>Househould Electricity Platform</h3>
<p>Hi, this is a research project conducted Green Facility Group, School of Design and Environment, National University of Singapore(NUS). This website enables normal users to watch the real-time electricity usage at their home, as well as check historical data. </p>
<p>
Since this is an energy saving research project, users can receive feedback from this website to know whether they have achieved their energy saving goals or not. Ans Google Form Survey is integrated into the website for researchers to conduct a survey.</p>

<p>
To use this website, the user must install the smart meters (sensor) which collect the electricity data and push them to the server.
</p>
<h3>Demo Link: </h3>
<p> Click the link to see the demo: <a href="http://nusenergy.sg/onetime_login/index?tempkey=89TA7UD1RM">Demo</a>
</p>
<h3>Video:</h3>
<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/ptv5rdKK_UQ?autoplay=1&origin=http://nusenergy.com"
  frameborder="0"></iframe>
<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/90dU9Mu7Cfk?autoplay=1&origin=http://nusenergy.com"
  frameborder="0"></iframe>

<h3> Info </h3>
<p>Professor: <a href="http://blog.nus.edu.sg/yujie/">Yujie LU</a></p>
<p>Post-Doctor: <a href="https://www.linkedin.com/in/hanyilong/">Yilong HAN</a> Meng SHEN</p>
<p>Graduate Research Assistant: <a href="https://www.linkedin.com/in/zhendong-liu-79850591/">Zhendong LIU</a></p>


</div>
