<html>
<head>
<style>
img{
  height:60px;
  margin:20px;
}
</style>
</head>
<body>
<div style="margin: 50px;">
<h3>Household Electricity Platform</h3>
<p>We are researchers from the Department of Building, National University of Singapore. We are conducting an experiment - “Smart Solutions Promoting Behaviour Driven Energy Efficiency” (<a href="http://www.bdg.nus.edu.sg/">sponsored by NRF 2015ENC - GBICRD001 - 038</a>), which aims to understand the effect of instant messages provision on home energy consumption. This website shows the real-time and historical electricity consumption of your family. You are encouraged to complete a set of questionnaires during the experimental period, and you will receive online feedback about your home energy consumption. Rewards for the participation include $50 gift voucher, free smart-meters worth $100 and deep understanding of your hourly energy consumption pattern. In order to access household real-time electricity usage, the smart meter is required to be installed in the electric riser at your premise. </p>

<p>Since this is an energy saving research project, users can receive feedback from this website to know whether they have achieved their energy saving goals or not. Ans Google Form Survey is integrated into the website for researchers to conduct a survey.</p>

<p>Thanks for your participation. If you have any questions, please CONTACT US: energynus@gmail.com or Tel/SMS/Whatsapp: 91656162</p>

<h3>家用能耗监测平台</h3>
<p>欢迎浏览新加坡国立大学建筑能耗研究网站！我们是新加坡国立大学建设系的研究人员，正在进行“居民节能行为的智能解决方案”研究(<a href="http://www.bdg.nus.edu.sg/">sponsored by NRF 2015ENC - GBICRD001 - 038</a>) ，旨在了解当地家庭节能行为和能源消耗的情况。我们将为您的家庭免费赠送及安装智能电表，并帮助您监测实时和历史家庭能耗。研究期间，您将收到家庭能耗反馈信息并参与完成相关问卷调查。 参与奖励包括赠送50新币的购物券、100新币的智能电表、免费性格评测报告及相关家庭能耗使用评估。</p>
<p>感谢您的参与。 有任何疑问，请联系我们：energynus@gmail.com或电话/短信/ WhatsApp: 91656162</p>

<h3>Demo Link（实例）: </h3>
<p> Click the link to see the demo（请点击“Demo”查看）: <a href="/onetime_login/index?tempkey=89TA7UD1RM">Demo</a>
</p>

<h3>Video（展示）:</h3>
<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/ptv5rdKK_UQ?autoplay=1&origin=http://nusenergy.com"
  frameborder="0"></iframe>
<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/90dU9Mu7Cfk?autoplay=1&origin=http://nusenergy.com"
  frameborder="0"></iframe>

<h3> About </h3>
<p>Professor: <a href="http://blog.nus.edu.sg/yujie/">Yujie LU</a></p>
<p>Post-Doctor: <a href="https://www.linkedin.com/in/hanyilong/">Yilong HAN</a> <a href="https://www.researchgate.net/profile/Meng_Shen6">Meng SHEN</a></p>
<p>Graduate Research Assistant: <a href="https://www.linkedin.com/in/zhendong-liu-79850591/">Zhendong LIU</a>
  <a href="https://www.linkedin.com/in/xu-qian-85340053/">Qian Xu</a>
  <a href="http://www.bdg.nus.edu.sg/documents/links/BRS_Liu%20Yiming.pdf">Yiming Liu</a>
  <a href="https://www.linkedin.com/in/%E6%A5%A0-%E5%BC%A0-26159414b/">Nan ZHANG</a>
  <a></a>
</p>


<h3> 关于我们</h3>
<p>教授: <a href="http://blog.nus.edu.sg/yujie/">卢昱杰</a></p>
<p>博士后科研人员: <a href="https://www.linkedin.com/in/hanyilong/">韩一龙</a> <a href="https://www.researchgate.net/profile/Meng_Shen6">沈萌</a></p>
<p>科研助理: <a href="https://www.linkedin.com/in/zhendong-liu-79850591/">刘振东</a>
  <a href="https://www.linkedin.com/in/xu-qian-85340053/">徐骞</a>
  <a href="http://www.bdg.nus.edu.sg/documents/links/BRS_Liu%20Yiming.pdf">刘一鸣</a>
  <a href="https://www.linkedin.com/in/%E6%A5%A0-%E5%BC%A0-26159414b/">张楠</a>
  <a></a>
</p>

<hr>

<div style="margin-top:50px; right:0px; position: absolute;">
  <img src="/images/SDE.jpg" alt="SDE_logo"/> <img src="/images/BCA.jpg" alt="BCA_logo"/>
</div>
</div>
</body>
</html>