<div id="wrapper">
    <%= render "shared/NavMenu" %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <h1 class="page-header">Real Time Usage</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="welcome_index_current_value" class="huge">33.25 w</div>
                                    <div>Your current usage is too high.</div>
                                </div>
                            </div>
                        </div>
                        <a href="/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <!--panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Current Electricity Usage (Hourly)
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        More
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/week_history/index">Weekly Usage</a>
                                        </li>
                                        <li><a href="/month_history/index">Monthly Usage</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <i id="current-usage-spinner" aria-hidden="true" class="fa fa-spinner fa-spin" style="font-size:60px;"></i>
                            <div id="morris-area-chart" style="display:none;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Your Cost in Past 7 Days
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/">Action</a>
                                        </li>
                                        <li><a href="/">Another action</a>
                                        </li>
                                        <li><a href="/">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="/">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>kWh</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% @usage.each do |usage| %>
                                                    <tr>
                                                        <td>
                                                            <%= usage.date %>
                                                        </td>
                                                        <td>
                                                            <%= usage.kwh %>
                                                        </td>
                                                    </tr>
                                                    <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <i id="last-7-spinner" aria-hidden="true" class="fa fa-spinner fa-spin" style="font-size:60px;"></i>
                                    <div id="last7days-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Tips
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Wear the right clothes. Dress for the temperature.
                                    <!--span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span-->
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Turn heaters and coolers off when you don't need them.
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Run your fridge efficiently.
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Shut doors and close curtains
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Wash clothes using cold water
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Insulate your roof
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Save energy in the kitchen
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Use energy-efficient light globes
                                </a>
                                <a href="/" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Set your thermostat
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="/" class="btn btn-default btn-block">View All Tips</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Consume In A Day
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="/" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /page-wrapper -->

</div>
<!-- /wrapper -->