<div id="wrapper">
    <%= render "shared/NavMenu" %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <h1 class="page-header">Power Status </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!--panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Whats's the meanings of red, yellow and green colors ?
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <!--The Red block-->
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bolt fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            
                                            <div class="huge">3000 W</div>
                                            <div> Current Usage: too high. </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.red block-->

                            <p>This suggests that your current power usage is relatively high. If you always in this status, then you will unlikely to achieve you goal.</p>
                            <div style="height: 30px;"></div>

                            <!--The yellow block-->
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bolt fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            
                                            <div class="huge">1000 W</div>
                                            <div> Current Usage: fair </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.yellow block-->

                            <p>Your current power usage is neither high nor low. </p>
                            <div style="height: 30px;"></div>

                            <!--The green block-->
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bolt fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            
                                            <div class="huge">100 W</div>
                                            <div> Current Usage: low </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.green block-->
                            <p>This suggests that your current power usage is relatively low. If you always in this status, then you will very likely to achieve you goal.</p>
                            <div style="height: 30px;"></div>


                            <div class="well">
                            <h4>How does the system decide the color ?</h4>
                            <p>We ..</p>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /page-wrapper -->

</div>
<!-- /wrapper -->