<div id="wrapper">
    <%= render "shared/NavMenu" %>
        <div id="page-wrapper">
            <div style="height: 30px;"></div>
            <!-- /.row -->
                <div class="row">
                <div class="col-lg-12 col-md-6">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Last Week Result
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        History
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/your_goal/index?result=5">Week5</a>
                                        </li>
                                        <li><a href="/your_goal/index?result=4">Week4</a>
                                        </li>
                                        <li><a href="/your_goal/index?result=3">Week3</a>
                                        </li>
                                        <li><a href="/your_goal/index?result=2">Week2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    <div class="alert alert-success">
                       <%= @str %>
                    </div>
                     </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Weekly Consume
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="week-goal-chart" style="height: 250px;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                
            </div>
            <!-- /page-wrapper -->

        </div>
        <!-- /wrapper -->