<div id="wrapper">
    <%= render "shared/NavMenu" %>

        <div id="page-wrapper">
            <div style="height: 30px;"></div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Weekly Consume
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="week-goal-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-cogs fa-fw"></i> Settings
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <label for="setGoal">My goal:</label>
                            <div class="form-group input-group">
                                <input id="setGoal" type="text" class="form-control"><span class="input-group-addon">kWh</span>
                            </div>
                            <button type="button" class="btn btn-info">Set!</button>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
                <div class="row">
                <div class="col-lg-12 col-md-6">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Last Week Result
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    <div class="alert alert-success">
                        Saved 25%! Goal achieved! Keep up your good energy-saving behaviour! 
                    </div>
                    <div class="alert alert-info">
                        With this money you could save a round trip to Batam, Indonesia with a family of 5 members. 
                    </div>
                     </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
            <!-- /page-wrapper -->

        </div>
        <!-- /wrapper -->